<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284828895632-cdn2sgijoqjepnldd6mplquoui88q5kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284828895632-cdn2sgijoqjepnldd6mplquoui88q5kv</string>
	<key>API_KEY</key>
	<string>AIzaSyBIM7MW3DKoDPnuUVDWJRXQre96Br3JA9U</string>
	<key>GCM_SENDER_ID</key>
	<string>284828895632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyen.vn.Into-The-Dungeon</string>
	<key>PROJECT_ID</key>
	<string>into-the-dungeon-b0121</string>
	<key>STORAGE_BUCKET</key>
	<string>into-the-dungeon-b0121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284828895632:ios:f9a66c82b336b0bc014b15</string>
	<key>DATABASE_URL</key>
	<string>https://into-the-dungeon-b0121.firebaseio.com</string>
</dict>
</plist>